<%= simple_form_for @campaign do |f| %>
                      <%# label will give you the flexibility to change the label, when you are giveing class
                      you have to be more specific.  %>
  <%= f.input :name, label: "Campaign Name", input_html: {class: "abc"} %>
  <%= f.input :description %>
  <%= f.input :goal %>
  <%= f.input :end_date %>
  <%= f.input :image %>
  <%# f.file_field :image %>
  <div id="rewards">
    <%= f.simple_fields_for :rewards do |r|  %>
      <%= render "reward_fields", f: r %>
    <% end %>
    <div class="links">
        <%= link_to_add_association "add Reward", f, :rewards %>
    </div>
  </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
