<%# .titleize method is a built-in rails method %>
<h1><%= @campaign.name.titleize %></h1>

<p><%= @campaign.description %></p>

<p>Goal: <%= number_to_currency(@campaign.goal)  %></p>

<p>End Date: <%= formatted_date_time(@campaign.end_date) %>

<div class="label label-default"><%= @campaign.aasm_state %></div>

<% if @campaign.draft? %>
  <%= link_to "Publish", campaign_publishings_path(@campaign), method: :post, class: "btn btn-primary",
                                                               data: {confirm: "Are you sure?"}     %>
<% end %>

<% if @campaign.image %>
  <%= image_tag @campaign.image.url(:large) %>
<% end %>

<% if @campaign.longitude && @campaign.latitude %>
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>
  <script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @campaign.latitude %>,
        "lng": <%= @campaign.longitude %>,
        "infowindow": "hello CodeCore!"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
  </script>
<% end %>



<%= link_to "Edit", edit_campaign_path(@campaign), class: "btn btn-info" %>
<%= link_to "Destroy", @campaign,
            method: :delete,
            data: {confirm: "Are you sure?"},
            class: "btn btn-danger"  %>

<h2>Rewards</h2>
<% @campaign.rewards.each do |reward| %>
  <div class="well col-md-3">
    <h3><%= reward.title %></h3>
    <p><%= number_to_currency(reward.amount) %></p>
  </div>
<% end %>
