<!DOCTYPE html>
<html>
<head>
  <title>Welcome to fund.sy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <% if user_logged_in? %>
      <%= current_user.full_name %>
    <% else %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
      <%= link_to "New Campaign", new_campaign_path %>
    <%= notice || alert %>

  <%= yield %>
</div>

</body>
</html>
